.labWrapper
  color: black
  display: flex
  justify-content: center
  flex-wrap: wrap

.bloqueAutor
  display: flex
  flex-basis: 51%
  justify-content: center
  flex-direction: column
  background-color: black
  color: white
  text-align: center
  margin: 20px
  padding: 5px
  width: 40vw
  height: 15vh

.autor
  font-size: 24px
