.labWrapper
  color: black
  display: flex
  justify-content: center
  flex-wrap: wrap

.bloqueArtista
  display: flex
  flex-basis: 21%
  justify-content: center
  flex-direction: column
  background-color: black
  color: white
  text-align: center
  margin: 20px
  padding: 5px

.artista
  font-size: 24px
