<div class="footer-wrapper">
  <span>
    CONTACTO
    <br>
    <div class="brands">
      <div class="social-container">
        <img class="youtube" src="assets/icons/youtube.svg" (click)="openLink('https://www.youtube.com/@siotatprods')"/>
      </div>
      <div class="social-container">
        <img src="assets/icons/vimeo.svg" (click)="openLink('https://vimeo.com/user188909098')"/>
      </div>
      <div class="social-container">
        <img src="assets/icons/email.svg" (click)="sendMail()"/>
      </div>
      <div class="social-container">
        <img src="assets/icons/instagram.svg" (click)="openLink('https://instagram.com/siotatprods?igshid=MzRlODBiNWFlZA==')"/>
      </div>
    </div>
  </span>
</div>