.footer-wrapper
  display: flex
  justify-content: center
  padding: 40px
  font-size: 36px

.brands
  display: flex
  justify-content: space-between
  text-decoration: none
  a
    color: black !important
